@use 'sass:meta';
@use 'elements/root';

$fa-css-prefix: fa !default;
$fa-var-glass: "\f000";

@include meta.load-css('objects/icons', 
    $with: (
        $fa-css-prefix: fa,
        $fa-var-glass: "\f000",
    )
)