$colorNeutralDarker: rgb(55,55,55) !default;
$colorNeutralDark: rgb(110,110,110) !default;
$colorNeutral: rgb(165,165,165) !default;
$colorNeutralLight: rgb(192.5,192.5,192.5) !default;
$colorNeutralLighter: rgb(220,220,220) !default;
$colorCool: rgb(110,165,220) !default;
$colorCoolDarker: rgb(110,165,193) !default;
